body {
    font-family: Roboto;
}

.logo {
    height: 35px;
}

.nav-menu {
    display: none;
}

.nav-link:hover {
    color: #333333;
}

.search-bar {
    border: none;
    outline: none;
    width: 150px;
    background: #000000;
    caret-color: #FFFFFF;
    font-size: 16px;
}

.nav-arrow {
    transform: rotate(180deg);
}

@media screen and (min-width: 600px) {
    .logo {
        height: 45px;
    }
}

@media screen and (min-width: 900px) {
    .nav-menu {
        display: inline-flex;
    }

    .search-bar {
        width: 250px;
    }
}